JELLYFIN_URL=http://jellyfin.local:8096
SEERR_URL=http://seerr.local:5055
SEERR_API_KEY=replace-with-seerr-api-key
LOLARR_SECRET=replace-with-at-least-16-characters
LOLARR_DATABASE_PATH=./data/lolarr.sqlite
